/*
    Override Bootstrap Navigation Bar.
*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,700');

body {
    /*padding-top: 70px;*/
    font-family: "Roboto Slab", sans-serif;
    font-weight: 100;
    font-size: 1.5em;
    position: relative;
}

h1, h2, h3, h5, h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 2em;
}

.price-tag {
    font-weight: 200;
    font-size: 1.5em;
    margin: 1em 0;
}

p {
    font-weight: 100;
    font-size: 0.8em;
}

.navbar {
    background-color: rgba(16,16,16,0.9);
    background-image: none;
    border: none;
}

.btn-cc {
    display: block;
    margin:0 auto;
    width:200px;
    color: #FFFFFF;
    border:2px solid #FFFFFF;
    padding:10px;
}

.product-size {
    height: 50px;
}

.total-cart {
    text-align: center;
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    top: 0;
    left: 5px;
    background-color: #c12e2a;
    border-radius: 20px;
    color: #FFFFFF;
}

.add-to-cart-btn {
    width: 100%;
    background-color: #419641;
    color: #FFFFFF;
    border:none;
    border-radius: 3px;
    padding:10px 0;
}

.title-limit {
    height: 38px;
    overflow-y: hidden;
}

.text-limit {
    height: 68px;
    overflow-y: hidden;
}

.no-margin {
    margin:0;
}