/*
    Override Bootstrap Navigation Bar.
*/

body {
    padding-top: 50px;
}

.navbar {
    background-color: rgba(16,16,16,0.9);
    background-image: none;
    border: none;
}

.btn-cc {
    display: block;
    margin:0 auto;
    width:200px;
    color: #FFFFFF;
    border:2px solid #FFFFFF;
    padding:10px;
}

.product-size {
    height: 50px;
}

.total-cart {
    display: inline;
    position: relative;
    top: 0;
    left: 5px;
}

.add-to-cart-btn {
    width: 100%;
    background-color: #419641;
    color: #FFFFFF;
    border:none;
    border-radius: 3px;
    padding:10px 0px;
}